addict==2.2.1
certifi==2019.11.28
cycler==0.10.0
Cython==0.29.16
joblib==0.14.1
kiwisolver==1.1.0
lapsolver==1.1.0
matplotlib==3.2.1
mmcv==0.4.2
numpy==1.21.0
olefile==0.46
opencv-python==4.2.0.32
pandas==1.3.0
Pillow==8.1.1
pycocotools==2.0
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.4
scikit-learn==0.22.2.post1
scipy==1.4.1
Shapely==1.7.0
six==1.14.0
sklearn==0.0
terminaltables==3.1.0
torch==1.4.0
torchvision==0.5.0
tqdm==4.44.1
yacs==0.1.6
